http:
  address: 127.0.0.1:8082
  session_ttl: 72h

dns:
  bind_hosts:
    - 10.8.0.1
  port: 53
  upstream_dns:
    - https://dns.cloudflare.com/dns-query
    - https://dns.google/dns-query

users:
  - name: ${ADMIN_USER}
    password: ${ADGUARD_PASSWORD_HASH}

schema_version: 27